{{ partial "header.html" . }}

<section id="content">
  <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

{{ if .Params.date }}
  <div id="sub-header">
    {{ .Date.Format (.Site.Params.dateform | default "2006-01-02 15:04") }} · 
    {{ with .Params.categories }}
      {{ range $index, $cat := . }}
        {{ if $index }}, {{ end }}
        <a href="{{ "categories/" | relURL }}{{ $cat | urlize }}">{{ $cat }}</a>
      {{ end }} ·
    {{ end }}
    {{ $words := countwords .Content }}
    {{ $speed := .Site.Params.readingSpeed | default 200 }}
    {{ $minutes := math.Max 1 (div (add $words ($speed | div 2)) $speed) }}
    {{ $minutes }} {{ cond (eq $minutes 1) "minute" "minutes" }} read
  </div>
{{ end }}

{{ if .Params.author }}
  <div id="sub-header" style="font-size: large; margin: 20px 0;">
   {{ .Params.author }}
  </div>
{{ end }}

  <div class="entry-content">
    {{ .Content }}
  </div>
  <div>
    {{ with .Params.tags }}
    <ul class="tags">
      {{ range . }}
      <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <hr>
  <div id=links>
    {{ if .NextInSection }}
    <a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}&laquo;&nbsp;</a>
    {{ else }}
    <a href="#"></a>
    {{ end }}
    {{ if .PrevInSection }}
    <a href="{{.PrevInSection.Permalink}}">&nbsp;&raquo;{{.PrevInSection.Title}}</a>
    {{ else }}
    <a href="#"></a>
    {{ end }}
  </div>
</section>
<script src="https://utteranc.es/client.js"
        repo="longrichli/blog-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

{{ partial "footer.html" . }}