{{ partial "header.html" . }}

<section id="content">
  <ul class="posts_listing" style="list-style:none; padding-left:0;">
    {{ range .Site.RegularPages.ByDate.Reverse }}
    <li style="margin-bottom: 8px; font-size: 1rem;">
      <span style="color:#888; width:120px; display:inline-block;">
        {{ if not .Date.IsZero }}
        {{ .Date.Format "2006-01-02" }}
        {{ end }}
      </span>
      <a href="{{ .Permalink }}" style="text-decoration:none;">
        {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}